/*style.css*/

/* fonts */
@font-face {
    font-family: brownShoes;
    src: url(http://www.dafont.com/brown-shoes.font);
}

/*globals*/
a{
	color: inherit;
	text-decoration: none;
}
img{
	display: block;
	width: 100%;
}
.clearfix:after{
	content:"";
	display: block;
	clear: both;
}
#container{
	width: 100%;
	margin: 0 auto;
}

/*everything else*/
#main_nav {
	background-color: rgba(255, 255, 255, 0.9);	
	position: absolute;
    width: 98vw;
}
#main_nav nav ul li{
	font-family:'Lato', sans-serif;
	float: right;
	padding-left: 3%;
	list-style: none;
	/*font-family: brownShoes;*/
	color: #E66600;
    font-size: 125%;
    letter-spacing: 0.5px;
    padding-right: 3%;
    box-sizing: border-box;
}
#background_image {
	margin-top: -0.6%;
}
.tagline {
	font-family:'Lato', sans-serif;
	color: #fff;
	text-align: center;
}
